p {
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    background-color: bisque;
}

.navbar a {
    float: right;
    color: red;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: teal;
    color: whitesmoke;
}

.navbar a.logo {
    float: left;
}

.container{
    position: relative;
    width: 15%;
}

.image{
    opacity: 1;
    display: block;
    width: 200px;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 30px;
}

/* .rowh img {
    width: 200px;
    height: 150px;
    padding: 0px;
} */

.rowh img:hover {
    opacity: 0.7;
    border: solid black;
}

.rowh img:hover .mid {
    opacity: 1;
}

.mid {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
}

.mtext {
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
}

label {
    text-align: center;
}

.header {
    overflow: hidden;
    height: 400px;
    text-align: center;
    background-color: beige;
    color: black;
}

.texth {
    position: absolute;
    float: inline-start;
    font-size: 120px;
}

.rowh {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    overflow: hidden;
}

.sideh {
    flex: 35%;
    background-color: rgb(172, 172, 172);
    padding: 20px;
    margin: 25px;
}

.container:hover .image{
    filter: brightness(40%);
}

.container:hover .mid{
    opacity: 1;
}

.mainh {
    flex: 40%;
    background-color: white;
    padding: 20px;
    margin: 25px;
}

.judul {
    text-align: left;
    font-size: 25px;
    padding: 10px;
}

footer {
    background-color: saddlebrown;
    font-size: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.sideh img {
    display: block;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.mainh img{
        display: block;
        padding: 4px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}